<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to my salary calculator V1!
  </h1>
</div>
<div id = 'main'>
  <form id='salaryForm'>
    <mat-form-field id='salaryInput'>
      <input matInput placeholder="Your salary" value="$">
    </mat-form-field>
  </form>
</div>
    <table>
          <td>One</td>
          <td>Two<td>
          <td>Three</td>
      </table>
