<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to my salary calculator V1.2!
  </h1>
</div>
<div id = 'main'>
  <form id='salaryForm'>
    <mat-form-field id='salaryInput'>
      <input [(ngModel)]="$salaryInput" matInput type="number" name="salaryInputField" placeholder="Your salary" value="$" (keyup)="mainCalcFunction()"/>
      
    </mat-form-field>
  </form>
<button (click) = "mainCalcFunction()">Click Me To Calculate</button>
</div>
    <table>
      <tr>
          <td>Hourly: </td>
          <td>without tax {{$hourlyIncome}}</td>
          <td>with tax {{$hourlyWithTaxIncome}}</td>
      </tr>
      <tr>
          <td>Daily: </td>
          <td>without tax {{$dailyIncome}}</td>
          <td>with tax {{$dailyWithTaxIncome}}</td>
      </tr>
      <tr>
          <td>Weekly: </td>
          <td>without tax {{$weeklyIncome}}</td>
          <td>with tax {{$weeklyWithTaxIncome}}</td>
      </tr>
      <tr>
          <td>Monthly: </td>
          <td>without tax {{$monthlyIncome}}</td>
          <td>with tax {{$monthlyWithTaxIncome}}</td>
      </tr>
      <tr>
          <td>Yearly: </td>
          <td>without tax {{$yearlyIncome}}</td>
          <td>with tax {{$yearlyWithTaxIncome}}</td>
      </tr>
      </table>
